
<%= form_for comment,  :html => {:id => "add_comment_form", remote: "true"}, url: "#{comment.errors.messages.keys.any? ? request.fullpath : request.fullpath+"#form-error"}" do |c| %>
  <% if comment.errors.messages.any? %>
    <%= tag.div id:"form-error", class: "error-message" do %>
    <%= tag.p do %>
      Couldn't post the comment because the following required fields are missing or invalid:
      <%comment.errors.messages.keys.each do |e|%>
      &middot<%= "#{e}" %>
    <% end %>
      <% end %>
    <% end %>
  <% end %>
  <fieldset>
    <legend class="form_title"><h2>Add a Comment</h2></legend>
      <%= c.text_field(:name,  placeholder: 'Name', class: (comment.errors.messages.keys.include?(:name) ? 'wrong-field': 'right_field'), value: comment.name )%>
      <%= c.text_field(:email,  placeholder: 'Email address', class: (comment.errors.messages.keys.include?(:email) ? 'wrong-field': 'right_field'), value: comment.email ) %>
      <%= c.text_area(:body,  placeholder: 'Your Comment', class: (comment.errors.messages.keys.include?(:body) ? 'wrong-field': 'right_field'), value: comment.body )%>
      <%= check_box_tag(:remember_me, 0,true) %>
      <%= label_tag(:remember_me, "Remember me") %>
      <% if comment.name.nil? %>
        <%= tag.p "This site uses technical cookies to remember your Name and Email.", class: "cookie_notice" %>
      <% end %>
      <%= c.submit(id: "comment_submit", value: "Add this comment", data: {disable_with: false, turbolinks: false}) %>
  </fieldset>

<% end %>
