
<%# <% puts "DEBUG>> #{words_array.inspect}" %>


<!-- TODO: make the checkbox and the submit buttons more visible when navigating with keyboard       -->
<%= form_for comment,  :html => {:id => "add_comment_form"}, url: request.fullpath do |c| %>
  <% if @comment.errors.messages.keys.any? %>
    <%= tag.p id:"form-error", class: "error-message" do %>
      Couldn't post the comment because the following required fields are missing:
      <%@comment.errors.messages.keys.each do |c|%>
                &middot<%= "#{c}" %>
      <% end %>
    <% end %>
  <% end %>
  <fieldset>
    <legend class="form_title"><h2>Add a Comment</h2></legend>
      <!--TODO: si potrebbe eevidenziare in rosso i campi non inseriti-->
      <%= c.text_field(:name,  placeholder: 'Name', class: (@comment.errors.messages.keys.include?(:name) ? 'wrong-field': 'right_field'), value: @comment.name || cookies[:name] )%>
      
      <%= c.text_field(:email,  placeholder: 'Email address', class: (@comment.errors.messages.keys.include?(:email) ? 'wrong-field': 'right_field'), value: @comment.email || cookies[:email]) %>
      <%= c.text_area(:body,  placeholder: 'Your Comment', class: (@comment.errors.messages.keys.include?(:body) ? 'wrong-field': 'right_field'), value: @comment.body || "")%>
      <%= check_box_tag(:remember_me, 0,true) %>
      <%= label_tag(:remember_me, "Remember me") %>
      <% if cookies[:name].nil? %>
        <%= tag.p "This site uses technical cookies to remember your Name and Email.", class: "cookie_notice" %>
      <% end %>
      <%= c.submit(:id => "comment_submit", :value => "Add this comment") %>
  </fieldset>

<% end %>
