  <ul class="random_words_list">
    <% for i in 0..2 %>
      <!-- MOLTO MALE -->
      <% selected = @selected %>
      <% words_array = @words_array %>
      <% photourl = @photourl %>
      <% if selected.to_i == i %>
        <%= content_tag :li, class: ["random_word","selected"] do -%>
          <%= link_to words_array[i].value, "/?s=#{i}&w=#{words_array[0].value}|#{words_array[1].value}|#{words_array[2].value}", { id: "new",  data: {controller: "url", action: "url#connect", method: "POST" }} %>
        <% end -%>
      <% else %>
        <%= content_tag :li, class: "random_word" do -%>
          <%= link_to words_array[i].value, "/?s=#{i}&w=#{words_array[0].value}|#{words_array[1].value}|#{words_array[2].value}", { :controller => :photos, :action => :show_photo_gallery, method: "POST", data: {controller: "pushstate", action: "pushstate#push"} } %>
        <% end -%>
      <% end %>
    <% end %>
  </ul>
  <div id="photo-gallery">
    <% photo_url_index = selected.to_i*40 %>
    <% for i in 0..7 do %>
      <%= content_tag :div, class: ["carousel"], tabindex: "-1" do -%>
       <% 5.times do %>
         <%= image_tag photourl[photo_url_index.to_i] , :class => 'cell' %>
         <% photo_url_index += 1 %>
       <% end %>
      <% end -%>
    <% end %>
  </div>
