<ul class="random_words_list">
  <% for i in 0..2 %>
    <% if selected.to_i == i %>
      <%= content_tag :li, class: ["random_word","selected"] do -%>
        <%= link_to words_array[i], "/show_photos_js?selected=3", { method: "get", remote: true, id: "new", data: {turbolinks: "false" }} %>
      <% end -%>
    <% else %>
      <%= content_tag :li, class: "random_word" do -%>
        <%= link_to words_array[i], "/show_photos_js?selected=#{i}", { method: "get", remote: true, data: {turbolinks: "false"} } %>
      <% end -%>
    <% end %>
  <% end %>
</ul>
<div id="photo-gallery">
  <% photo_url_index = selected*40 %>
  <% for i in 0..7 do %>
    <%= content_tag :div, class: ["js-flickity", "main-carousel"], tabindex: "-1", data: { flickity:  { "autoPlay": 4000,
                 "wrapAround": true,
                 "draggable": false
               } } do -%>
     <% 5.times do %>
       <%= image_tag photourl[photo_url_index.to_i] , :class => 'carousel-cell' %>
       <% photo_url_index += 1 %>
     <% end %>
    <% end -%>
  <% end %>


</div>
