  <ul class="random_words_list">
    <% s = @selected.to_i %>
    <% for i in 0..2 %>
      <%= content_tag :li, class: ['random_word', ('selected' if (s == i) )] do %>
        <% if (s==i) %>
          <%= link_to @words_array[i].value, "/?s=#{i}&w=#{@words_string}", { :action => :show_photo_gallery, method: "POST", data: {controller: "set_attribute", action: "set_attribute#connect"}  }%>
          <% else %>
            <%= link_to @words_array[i].value, "/?s=#{i}&w=#{@words_string}" %>
          <% end %>
      <% end %>
    <% end %>
  </ul>

  <div id="photo-gallery">
    <% photo_url_index = s*40 %>
    <% for i in 0..7 do %>
      <%= content_tag :div, class: ["carousel"], tabindex: "-1" do -%>
       <% 5.times do %>
         <%= image_tag @photourl[photo_url_index.to_i] , :class => 'cell' %>
         <% photo_url_index += 1 %>
       <% end %>
      <% end -%>
    <% end %>
  </div>
