<h1>Photo Blog</h1>

<ul class="random_words_list">
  <% for i in 0..2 %>
    <% if @word.to_i == i.to_i %>
      <!-- TODO: should I move this "logic" somewhere else? -->
      <%= content_tag :li, class: ["random_word","selected"] do -%>
        <%= link_to @words_array[i], url_for(word: i, words_array: @words_array), { data: { turbolinks: "false" } } %>
        <!-- TODO: this above tag should be a <p> and not an <a> (because you already are in the correct page)-->
      <% end -%>
    <% else %>
      <%= content_tag :li, class: "random_word" do -%>
        <%= link_to @words_array[i], url_for(word: i, words_array: @words_array), { data: { turbolinks: "false" } } %>
      <% end -%>
    <% end %>
  <% end %>
</ul>

<div id="photo-gallery">
<!--could I use "each"? Is it better? -->
<!--maybe a 2-dimensional array can make loops clearer -->
  <% for i in 0..7 do %>
    <%= content_tag :div, class: ["js-flickity", "main-carousel"], data: { flickity:  { "autoPlay": 4000,
                 "wrapAround": true,
                 "draggable": false
               } } do -%>

     <% 5.times do %>
       <%#<%= image_tag "https://designshack.net/wp-content/uploads/placeholder-image.png" , :class => 'carousel-cell' %>
       <%= image_tag @photourl[@photo_url_index.to_i] , :class => 'carousel-cell' %>
       <% @photo_url_index += 1 %>
     <% end %>
    <% end %>
  <% end %>

</div>
<!-- <h2>Add a comment</h2> -->


<%= form_for :comment,  :html => {:id => "add_comment_form"}, url: comments_path do |c| %>
  <% if @errortype == "invalidpost" %>
    <%= tag.p 'Could not post your comment. Name, Email and Comment are required', id:"form-error", class: "error-message" %>
  <% end %>
  <fieldset>
    <legend class="form_title"><h2>Add a Comment</h2></legend>
      <!--TODO: si potrebbe eevidenziare in rosso i campi non inseriti-->
      <%= c.text_field(:name,  placeholder: 'Name', value: cookies[:name])%>
      <%= c.text_field(:email,  placeholder: 'Email address', value: cookies[:email])%>
      <%= c.text_area(:body,  placeholder: 'Your Comment')%>
      <!-- <div class="custom-checkbox"> -->
        <%= check_box_tag(:remember_me, 0,true) %>
        <%= label_tag(:remember_me, "Remember me") %>
      <!-- </div> -->
      <%= c.submit(:id => "comment_submit", :value => "Add this comment") %>
  </fieldset>
  <% if cookies[:name].nil? %>
    <%= tag.p "This site uses technical cookies to remember your Name and Email.", class: "cookie_notice" %>
  <% end %>
<% end %>
<%= tag.ul class: "comment_list" do %>
  <%# sort comments from most recent to last? %>
  <% @comments.each do |comment| %>
    <li class="comment_list_item">
      <h3 class="comment_name"><%= comment.name %></h3>
      <h4 class="comment_date"><%= comment.created_at.in_time_zone("CET").strftime('%d/%m/%Y  %H:%M') %></h4>
      <p class="comment_body"><%= comment.body %></p>
    </li>
  <% end %>
<% end %>
