<h1>Photo Blog</h1>


<p>  <%= @word %></p>

<ul class="random_words_list">
  <% @words_array.each do |word| %>
    <%= content_tag :li, class: "random_word" do -%>
    <!-- TODO: should I move this "logic" somewhere else? -->
      <%= link_to word, url_for(word: word, words_array: @words_array) %>
    <% end -%>
  <% end %>
</ul>


<!-- <div id="photo-gallery">
<!--could I use "each"? Is it better?
<!--maybe a 2-dimensional array can make loops clearer

</div> -->

<h2>Add a comment</h2>

<%= form_for :comment, url: comments_path do |f| %>
  <p>
      <%= f.label :name %><br>
      <%= f.text_field(:name) %>
  </p>
  <p>
      <%= f.label :email %><br>
      <%= f.text_field(:email) %>
  </p>
  <p>
      <%= f.label :body %><br>
      <%= f.text_area(:body) %>
  </p>
  <p>
      <%= f.submit %>
  </p>
<% end %>
<% @comments.each do |comment| %>
  <h3><%= comment.name %></h3>
  <h3><%= comment.email %></h3>
  <p><%= comment.body %></p>
<%end %>
