
<h1>Photo Blog</h1>
<%=tag.p "SIGNED IN: ---- #{current_user.email if user_signed_in?}" %>
<%=link_to "sign out", "/users/sign_out", { method: "DELETE" }%>
<%=link_to "sign in", "/users/sign_in"%>
<%=link_to "refresh", "/", { id: "refresh_icon", class: "material-icons", data: {turbolinks: true, controller: "refresh", action: "refresh#rotate"}}%>

<div id="gallery_wrapper" class="gallery_wrapper">
    <%= render partial: "photo_gallery" %>
</div>
<% puts "INDEX ------> #{@comment.errors.messages}" %>
<%= render partial: "add_comment_form" %>

<%= tag.ul id: "comments_list" do %>
  <% word = @words_array[@selected] %>
  <%= render word.comments.order("created_at DESC")%>
<% end %>
