
<h1>Photo Blog</h1>
<%=link_to "refresh", "/show_photo_gallery", {method: "get", remote: true, id: "refresh_icon", class: "material-icons", onClick: "",data: {turbolinks: "false"} }%>

<%= turbo_frame_tag 'image_gallery' do %>
  <div class="gallery_wrapper" >
      <%= render partial: "photo_gallery" , locals: { selected: @selected, words_array: @words_array, photourl: @photourl }%>
  </div>
<% end %>

<%= render partial: "add_comment_form" , locals: {comment: @comment, words_array: @words_array, selected: @selected} %>

<%= tag.ul id: "comments_list" do %>
  <%#= render partial: "comments_list" , locals: {comments: @comments, selected: @selected, words_array: @words_array} %>
  <% word = @words_array[@selected] %>
  <%= render word.comments %>
<% end %>
