
<h1>Photo Blog</h1>
<%=link_to "refresh", "/show_photos_js", {method: "get", remote: true, id: "refresh_icon", class: "material-icons", data: {turbolinks: "false"} }%>

<div class="test" >
    <%= render partial: "photo_gallery" , locals: { selected: @selected, words_array: @words_array, photourl: @photourl }%>
</div>

<%= render partial: "add_comment_form" , locals: {comment: @comment}%>

<%= tag.ul class: "comment_list" do %>
  <!--TODO: sort comments from most recent to last? -->
  <% @comments.each do |c| %>
    <%= render partial: "single_comment" , locals: {comment: c}%>
  <% end %>
<% end %>
