<!DOCTYPE html>
<html>
  <head>
    <title>MyPhotoBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= favicon_link_tag asset_path('vitamino.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%#= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,600&amp;display=swap' %>
    <%#= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%#= javascript_pack_tag 'application' %>
    <%= stimulus_include_tags %>
    <%= javascript_include_tag "turbo", type: "module-shim" %>
    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
